

/* CSS code for Home Page of website */
/* Code for body of Home page */
body {
 overflow-x: hidden;
 /* Vendor prefixes for microsoft, safari and Opera browsers */
    -ms-overflow-x: hidden;
    -os-overflow-x: hidden;
    -o-overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow: auto;
      margin: 0;
      
  }
.navbar {
  padding: 0px !important;
}
.navbar-toggler {
  padding: 9.5px !important;
}
a:hover {
  background-color: #4c635d;
}
.navbar-brand:hover {
  background-color: initial;
}
/* Horizontal rule for image */
.hr {
  border-top: 2px solid #1050b3; 
}
/* Image screen resolution */
    
    
/* MEDIA QUERIES FOR RESPONSIVENESS */ 
/* If the browser's width is less than 767px */   
@media screen and (max-width: 767px) {
    #title {
      font-size: 7vw;
     }
  #main {
        font-size: 12vw;
      padding-top: 7px;
      color: #48505e;
       font-family: 'Noto Sans', sans-serif;
      font-weight: 500;
      margin: 65px 3vw 0 3vw;
    }
  .image {
   width: 100%;
      height: auto;
       }
}
    
/* If the browser's width is more than 767px */
    @media screen and (min-width: 767px) {
      #main {
        font-size: 8vw;
        font-family: 'Noto Sans', sans-serif;
        font-weight: 500;
        color: #48505e;
        margin: 2vw 3vw 0 3vw;
        padding: 10px;
      }
      #title {
        font-size: 50px;
        
      }
  
      .image {
        text-align: center;
   width: 800px;
       height: auto;
        margin: auto;
        display: block;
       }
    }
    
