/* CSS code for Home Page of website */
/* Code for body of Home page */
body {
 overflow-x: hidden;
 /* Vendor prefixes for microsoft, safari and Opera browsers */
    -ms-overflow-x: hidden;
    -os-overflow-x: hidden;
    -o-overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow: auto;
      margin: 0;
      
  }
.navbar {
  padding: 0px !important;
}
.navbar-toggler {
  padding: 9.5px !important;
}
a:hover {
  background-color: #4c635d;
}
.navbar-brand:hover {
  background-color: initial;
}
/* Horizontal rule for image */
.hr {
  border-top: 2px solid #1050b3; 
}
/* Image screen resolution */
    
    
/* MEDIA QUERIES FOR RESPONSIVENESS */ 
/* If the browser's width is less than 767px */   
@media screen and (max-width: 767px) {
    #title {
      font-size: 7vw;
      padding-top: 5vw;
     }
  #main {
        font-size: 12vw;
      padding-top: 7px;
      color: #48505e;
       font-family: 'Noto Sans', sans-serif;
      font-weight: 500;
      margin: 65px 3vw 0 3vw;
    }
  .image {
   width: 100%;
      height: auto;
       }
}
    
/* If the browser's width is more than 767px */
    @media screen and (min-width: 767px) {
      #main {
        font-size: 8vw;
        font-family: 'Noto Sans', sans-serif;
        font-weight: 500;
        color: #48505e;
        margin: 8vw 3vw 0 3vw;
        padding: 1vw;
   text-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
       <!-- Vendor prefixes to ensure browser comptability for older versions of Chrome, internet explorer, mozilla, opera and safari -->
       -webkit-text-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
       -ms-text-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
       -moz-text-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
       -os-text-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
       -o-text-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
      
      #title {
        font-size: 50px;
        
      }
  
      .image {
        text-align: center;
   width: 800px;
       height: auto;
        margin: auto;
        display: block;
       }
    }
    /* Code that is common in all browser widths */
   #main {
     text-align: center;
     display: block;
}
         
   #title {
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
     <!-- Vendor prefixes to ensure browser comptability for older versions of Chrome, internet explorer, mozilla, opera and safari -->
       -webkit-text-shadow: 2px 2px 4px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    -ms-text-shadow: 2px 2px 4px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    -moz-text-shadow: 2px 2px 4px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    -os-text-shadow: 2px 2px 4px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    -o-text-shadow: 2px 2px 4px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
         margin: -20px;
    padding: 25px;
  }

 /* Common code in all paragraphs */
    p {
      margin: 10px;
      font-family: 'Noto Sans', sans-serif;
    }
    /* MEDIA QUERIES FOR RESPONSIVENESS */
/* If the browser's width is more than 500px */ 
      @media screen and (min-width: 500px) {
  p {
            font-size: 30px;
      }
        .whatsapp {
          font-size: 20px;
        }
    }
 
/* If the browser's width is less than 500px */  
      @media screen and (max-width: 500px) {
       p {
      font-size: 15px;
        }
         .whatsapp {
            font-size: 5vw;
         }
   }
@media screen and (min-width: 1130px) {
p {
  font-size: 2vw;
}
  }
    .panchors {
    /* Artificial underline */
    text-decoration: none !important;
  border-bottom: #EA215A 0.125em solid;
      }
.panchors:hover {
  background-color: initial;
}
 .whatsapp {
  font-family: 'Noto Sans', sans-serif;
        font-weight: 500;
        color: #48505e;
  border: 2px solid #61e310;
  border-radius: 10px;
 text-align: center;
  float: right;
  padding: 10px 4px 8px 10px;
      margin: 25px;
 text-decoration: none !important;
   background-image: repeating-linear-gradient(
  45deg, #1bcf30, #1bcf30 10px, #38ab46 10px, #38ab46 20px);
}

<!-- CSS Code for About Us section -->
#heading {
  padding: 10px !important;
  text-align: center !important;
  text-shadow: 0 10px 20px rgba(0.5,0.5,0.5,0.5), 0 6px 6px rgba(0.5,0.5,0.5,0.5) !important;
}

<!-- Codes for paragraph -->
.paragraph {
  color: #fca400;
  margin-left: 15px;
  margin-right: 15px;
   font-family: 'Sofia', cursive;
 position: relative;

} 
.abouth3 {
 text-align: right;
  padding-right: 35px;
}
<!-- Pseudo class for paragraph when user hovers over it -->
.paragraph:hover {
  text-shadow: 2px 2px 8px #FF0000;
      <!-- Vendor prefixes to ensure browser comptability for older versions of Chrome, internet explorer, mozilla, opera and safari -->
  -webkit-text-shadow: 2px 2px 8px #FF0000;
  -moz-text-shadow: 2px 2px 8px #FF0000;
  -os-text-shadow: 2px 2px 8px #FF0000;
  -o-text-shadow: 2px 2px 8px #FF0000;
  -ms-text-shadow: 2px 2px 8px #FF0000;
}

 <!-- MEDIA QUERIES FOR RESPONSIVENESS --> 
<!-- If the browser's width is more than 500px -->  

@media screen and (min-width: 1000px) {
 .paragraph {
   font-size: 22px;
   line-height: 1.59em;
     
  }
  .avatar1 {
  display: block;
  text-align: left;
 background-size: contain;
  width: 200px;
 height: 200px;
  margin-left: -3px;
  background-size: cover;
 
}
  .avatar2 {
  display: block;
  text-align: left;
   background: url('https://www.w3schools.com/w3images/avatar2.png');
  background-size: contain;
    }
.form1 {
   width: device-width;
    border: 5px solid #786f5b;
    border-radius: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
       <!-- Vendor prefixes to ensure browser comptability for older versions of internet explorer -->
    box-shadow: 0 0px 25px 0 #524f48, 2px 8px 20px 0 #524f48;
  -ms-box-shadow: 0 0px 25px 0 #524f48, 2px 8px 20px 0 #524f48;
    margin: 10px;
    
}
    <!-- Code for horizontal and vertical line in form1 -->
  .vlhr {
 border-left: 5.2px solid #786f5b;
height: 419px;
  position: absolute;
  
  left: 240px;
  top: 0px;
  margin-top: 92px;
  
}
  .abouth3 {
font-size: 30px;
    padding-right: 90px;
  }
 
}
 <!-- MEDIA QUERIES FOR RESPONSIVENESS --> 
<!-- If the browser's width is between 999px and 701px do the following -->  
@media screen and (max-width: 1000px) and (min-width: 700px) {
  .paragraph {
    font-size: 17px;
    line-height: 1.647em;
    }
.avatar1 {
  display: block;
  text-align: left;
 
  background-size: contain;

  width: 200px;
 height: 200px;
  margin-left: -3px;
  background-size: cover;
 
}
  .avatar2 {
  display: block;
  text-align: left;
   background: url('https://www.w3schools.com/w3images/avatar2.png');
  
  width: 200px;
 height: 200px;
  
}
.form1 {
   width: device-width;
    
    border: 5px solid #786f5b;
    border-radius: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    box-shadow:  0 0px 25px 0 #524f48, 2px 8px 20px 0 #524f48;
       <!-- Vendor prefixes to ensure browser comptability for older versions of internet explorer -->
   -ms-box-shadow:  0 0px 25px 0 #524f48, 2px 8px 20px 0 #524f48;
  margin: 10px;
    
}
    <!-- Code for horizontal and vertical line in form1 -->
  .vlhr {
 border-left: 5.2px solid #786f5b;
height: 419px;
  position: absolute;
  left: 240px;
  top: 0px;
  margin-top: 92px;
  
}
  
}
 <!-- MEDIA QUERIES FOR RESPONSIVENESS --> 
<!-- If the browser's width is between 699px and 597px -->  
@media screen and (max-width: 700px) and (min-width: 596px) {
  .paragraph {
    font-size: 14.5px;
    line-height: 1.517em;
  }
.avatar1 {
  display: block;
  text-align: left;
 
  background-size: contain;
  width: 200px;
 height: 200px;
  margin-left: -3px;
  background-size: cover;
 
}
  .avatar2 {
  display: block;
  text-align: left;
   background: url('https://www.w3schools.com/w3images/avatar2.png');
  background-size: contain;
  width: 200px;
 height: 200px;
  
}
.form1 {
   width: device-width;
    
    border: 5px solid #786f5b;
    border-radius: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    box-shadow: 0 0px 25px 0 #524f48, 2px 8px 20px 0 #524f48;
       <!-- Vendor prefixes to ensure browser comptability for older versions of internet explorer -->
   -ms-box-shadow: 0 0px 25px 0 #524f48, 2px 8px 20px 0 #524f48;
  margin: 10px;
    
}
    <!-- Code for horizontal and vertical line in form1 -->
  .vlhr {
 border-left: 5.2px solid #786f5b;
height: 419px;
  position: absolute;
  
  left: 240px;
  top: 0px;
  margin-top: 92px;
  
}
  
  .abouth3 {
    font-size: 3vw;
  }
}
 <!-- MEDIA QUERIES FOR RESPONSIVENESS --> 
<!-- If the browser's width is less than 595px -->  
@media screen and (max-width: 595px) {
 
  .avatar1 {
   text-align: none;
  background-size: initial;
    float: left;
  width: 50%;
  padding: 5px;
    box-sizing: border-box;
  }
  .avatar2 {
   display: flex;
  text-align: none;
   background-size: initial;
  float: left;
  width: 50%;
  padding: 5px;
    box-sizing: border-box;
  }
  
  .form1 {
    width: device-width;
     margin-left: 10px;
      margin-right: 10px;
 float: left;
    border: 5px solid #786f5b;
    border-radius: 20px;
        box-shadow: 0 0px 25px 0 #524f48, 2px 8px 20px 0 #524f48;
         <!-- Vendor prefixes to ensure browser comptability for older versions of internet explorer -->
    -ms-box-shadow: 0 0px 25px 0 #524f48, 2px 8px 20px 0 #524f48;
    border-radius: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 5px;
  }
  .paragraph {
    margin-left: 9px;
    margin-right: 9px;
  }
  
  .abouth3 {
font-size: 19px;
  float: left;
 line-height: 1.7em; 
    
  }
}
* {
 text-align: center;
}

