/* CSS code for Home Page of website */
/* Code for body of Home page */
body {
 overflow-x: hidden;
 /* Vendor prefixes for microsoft, safari and Opera browsers */
    -ms-overflow-x: hidden;
    -os-overflow-x: hidden;
    -o-overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow: auto;
      margin: 0;
      
  }
.navbar {
  padding: 0px !important;
}
.navbar-toggler {
  padding: 9.5px !important;
}
a:hover {
  background-color: #4c635d;
}
.navbar-brand:hover {
  background-color: initial;
}
/* Horizontal rule for image */
.hr {
  border-top: 2px solid #1050b3; 
}
/* Image screen resolution */
    
    
/* MEDIA QUERIES FOR RESPONSIVENESS */ 
/* If the browser's width is less than 767px */   
@media screen and (max-width: 767px) {
    #title {
      font-size: 7vw;
      padding-top: 5vw;
     }
  #main {
        font-size: 12vw;
      padding-top: 7px;
      color: #48505e;
       font-family: 'Noto Sans', sans-serif;
      font-weight: 500;
      margin: 65px 3vw 0 3vw;
    }
  .image {
   width: 100%;
      height: auto;
       }
}
    
/* If the browser's width is more than 767px */
    @media screen and (min-width: 767px) {
      #main {
        font-size: 8vw;
        font-family: 'Noto Sans', sans-serif;
        font-weight: 500;
        color: #48505e;
        margin: 8vw 3vw 0 3vw;
        padding: 3px;
   text-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
       <!-- Vendor prefixes to ensure browser comptability for older versions of Chrome, internet explorer, mozilla, opera and safari -->
       -webkit-text-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
       -ms-text-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
       -moz-text-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
       -os-text-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
       -o-text-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
      
      #title {
        font-size: 50px;
        
      }
  
      .image {
        text-align: center;
   width: 800px;
       height: auto;
        margin: auto;
        display: block;
       }
    }
    /* Code that is common in all browser widths */
   #main {
     text-align: center;
     display: block;
}
         
   #title {
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
     <!-- Vendor prefixes to ensure browser comptability for older versions of Chrome, internet explorer, mozilla, opera and safari -->
       -webkit-text-shadow: 2px 2px 4px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    -ms-text-shadow: 2px 2px 4px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    -moz-text-shadow: 2px 2px 4px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    -os-text-shadow: 2px 2px 4px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    -o-text-shadow: 2px 2px 4px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
         margin: -20px;
    padding: 25px;
  }

 /* Common code in all paragraphs */
    p {
      margin: 10px;
      font-family: 'Noto Sans', sans-serif;
    }
    /* MEDIA QUERIES FOR RESPONSIVENESS */
/* If the browser's width is more than 500px */ 
      @media screen and (min-width: 500px) {
  p {
            font-size: 30px;
      }
        .whatsapp {
          font-size: 20px;
        }
    }
 
/* If the browser's width is less than 500px */  
      @media screen and (max-width: 500px) {
       p {
      font-size: 15px;
        }
         .whatsapp {
            font-size: 5vw;
         }
   }
@media screen and (min-width: 1130px) {
p {
  font-size: 2vw;
}
  }
    .panchors {
    /* Artificial underline */
    text-decoration: none !important;
  border-bottom: #EA215A 0.125em solid;
      }
.panchors:hover {
  background-color: initial;
}
 .whatsapp {
  font-family: 'Noto Sans', sans-serif;
        font-weight: 500;
        color: #48505e;
  border: 2px solid #61e310;
  border-radius: 10px;
 text-align: center;
  float: right;
  padding: 10px 4px 8px 10px;
      margin: 25px;
 text-decoration: none !important;
   background-image: repeating-linear-gradient(
  45deg, #1bcf30, #1bcf30 10px, #38ab46 10px, #38ab46 20px);
}
